.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #444;
  border-radius: 12px;
  background: transparent;
  color: white;
}

.calendar {
  width: 222px;
  height: 226px;
  border-radius: 16px;
  overflow: hidden;
  background: #12f08a;
  padding: 8px 10px 10px;
  display: flex;
  flex-direction: column;
}
.input::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

:global(.react-datepicker.calendar) {
  width: 222px;
  height: 231px;
  background: #12f08a;
  border: none;
  display: flex;
  flex-direction: column;
  padding: 14px;
  border-radius: 10px;
}

:global(.react-datepicker.calendar .react-datepicker__header) {
  background: transparent;
  border-bottom: 1px solid #0c0d0d80;
  padding-top: 0;
  padding-bottom: 14px;
}

:global(.react-datepicker.calendar .react-datepicker__current-month) {
  color: #0c0d0d;
  font-size: 16px;
  font-weight: 400;
}

:global(.react-datepicker.calendar .react-datepicker__day-names) {
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
}

:global(.react-datepicker.calendar .react-datepicker__day-name) {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(12, 13, 13, 0.5);
  width: 21px;

  line-height: 24px;
  margin: 0;
}

:global(.react-datepicker.calendar .react-datepicker__month) {
  margin: 4px 0 0;
}

:global(.react-datepicker.calendar .react-datepicker__week) {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}

:global(.react-datepicker.calendar .react-datepicker__day) {
  width: 23px;
  line-height: 23px;
  margin: 0;
  font-size: 14px;
  color: #000;
  border-radius: 50% !important;
}

:global(.react-datepicker.calendar .react-datepicker__day:hover) {
  background: rgba(0, 0, 0, 0.6);
  color: #fafafa;
}

:global(.react-datepicker.calendar .react-datepicker__day--selected) {
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #fafafa;
  background: #000;
}

:global(.react-datepicker.calendar .react-datepicker__day--keyboard-selected) {
  background: transparent;
  color: #000;
}

:global(.react-datepicker.calendar .react-datepicker__day--outside-month) {
  color: rgba(0, 0, 0, 0.3);
}

:global(.react-datepicker.calendar .react-datepicker__navigation) {
  top: 10px;
}

:global(.react-datepicker.calendar .react-datepicker__navigation-icon::before) {
  border-color: #000;
  border-width: 2px 2px 0 0;
  height: 7px;
  width: 7px;
}

:global(.react-datepicker.calendar .react-datepicker__triangle) {
  display: none;
}
