.page {
  width: 100%;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 0;
}

.right {
  min-width: 0;
  margin: 0 auto;
}

.chart {
  min-width: 0;
}

@media (min-width: 768px) {
  .page {
    padding: 32px 0;
  }

  .left {
    gap: 40px;
  }
}

@media (min-width: 1440px) {
  .page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    align-items: start;
    padding: 60px 0;
    column-gap: 40px;
    row-gap: 40px;
  }

  .left {
    grid-column: 1;
    grid-row: 1;
    gap: 40px;
  }

  .right {
    grid-column: 2;
    grid-row: 1 / 3;
  }

  .chart {
    grid-column: 1;
    grid-row: 2;
  }
}
