.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.profileTitle {
    width: 100%;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: -0.02em;
    margin-bottom: 40px;

    @media (min-width:768px) {
        font-size: 28px;

    }
}

/* .profileAvatare */
.profileAvatare {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 39px;
}

.profileAvatareImg {
    border-radius: 50%;
    margin-bottom: 20px;
    background: rgba(12, 13, 13, 0.5);
}

.AvatareBtnWraper {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.AvatareBtn {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px !important;
    letter-spacing: -0.02em;
    padding: 8px 16px !important;
    max-width: 133px;

}

/* .profileSettings */
.profileSettings {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}

/* .profileCurrency */
.profileCurrency {
    width: 98px;
    border: 1px solid rgba(250, 250, 250, 0.4);
    border-radius: 12px;
    padding: 12px 14px;
    background-color: transparent;
    position: relative;

    @media (min-width:768px) {
        width: 124px;
    }
}

.selectWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98px;
    user-select: none;

}

.selectedValue {
    font-family: "Inter", sans-serif;
    line-height: 1.3;
    font-size: 14px;
    font-weight: 400;
    padding-right: 14px;

    @media (min-width:768px) {
        font-size: 16px;
        padding-left: 18px;
    }
}

.customOptionsList {
    position: absolute;

    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    background-color: #171719;

    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 12px;
    list-style: none;
    padding: 8px 0;
    margin: 0;
    z-index: 100;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);

}

.optionItem {
    padding: 8px 14px;
    color: #fafafa;
    font-size: 14px;
    transition: background 0.2s ease;
}

.optionItem:hover {
    background-color: rgba(250, 250, 250, 0.1);
}

.arrowIcon {
    position: absolute;
    right: 27px;
    pointer-events: none;
    transition: transform 0.3s ease;
    z-index: 1;

    @media (min-width:768px) {
        right: 10px;
    }
}

.rotated {
    transform: rotate(180deg);

}

.customOptionsList {
    position: absolute;
    
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    background-color: #171719;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 12px;
    list-style: none;
    padding: 8px 0;
    margin: 0;
    z-index: 100;

    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.optionItem {
    padding: 8px 14px;
    color: #fafafa;
    font-size: 14px;
    transition: background 0.2s ease;
}

.optionItem:hover {
    background-color: rgba(250, 250, 250, 0.1);
}

/* .profileName */
.profileName {
    width: 192px;
    padding: 12px 14px;
    border: 1px solid rgba(250, 250, 250, 0.4);
    border-radius: 12px;
    background-color: transparent;

    @media (min-width:768px) {
        width: 293px;
    }

}

.nameInput {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    color: #fafafa;

}


.nameInput:focus,
.selectField:focus {
    outline: none;
}

/* .btnSave */

.btnSave {
    width: 296px !important;

    @media (min-width:768px) {
        width: 420px !important;
    }
}