.wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-direction: column;
  padding: 20px 20px 0;
}

.searchBox {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 15px 30px;
  border-radius: 30px;
  background-color: #0c0d0d;
  border: none;
  width: 100%;
}

.searchInput {
  flex: 1;
  min-width: 0;
  background: none;
  border: none;
  outline: none;
  font-family: var(--font-geist-inter);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.21em;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.searchInput::placeholder {
  color: rgba(250, 250, 250, 0.4);
}

.searchIcon {
  flex-shrink: 0;
}

.dateBox {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 30px;
  border-radius: 30px;
  background: transparent;
  border: 1px solid rgba(250, 250, 250, 0.2);
  width: 100%;
}

.dateInput {
  flex: 1;
  min-width: 0;
  background: none;
  border: none;
  outline: none;
  font-family: var(--font-geist-inter);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.21em;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}

.dateInput::-webkit-calendar-picker-indicator {
  display: none;
}

.calendarIcon {
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding: 20px 24px 0;
  }

  .searchBox {
    width: auto;
  }

  .searchInput {
    flex: 0 1 auto;
  }

  .dateBox {
    width: auto;
  }

  .dateInput {
    flex: 0 1 auto;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    padding: 20px 40px 0;
  }
}
